html {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

header {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}

nav {
	display: flex;
}

.logo {
	display: flex;
	color:MediumAquamarine;
}

